<a href="https://colab.research.google.com/github/RAHUL-B-PILLAI/coursework_heart_disease_pridiction/blob/main/symbolic_gp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pip install gplearn

Collecting gplearn
  Downloading gplearn-0.4.1-py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 301 kB/s
Requirement already satisfied: joblib>=0.13.0 in /usr/local/lib/python3.7/dist-packages (from gplearn) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from gplearn) (1.0.1)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->gplearn) (1.19.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->gplearn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->gplearn) (3.0.0)
Installing collected packages: gplearn
Successfully installed gplearn-0.4.1

In [11]:
from gplearn.genetic import SymbolicClassifier

In [4]:
from google.colab import files
upload= files.upload()

Saving heart.csv to heart.csv

In [5]:
# Using pands to read csv file
data=pd.read_csv('heart.csv')
data.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [6]:
# preprocessing the dataset  
from sklearn import preprocessing
label= preprocessing.LabelEncoder()
data1=data.copy()
for i in data.columns[data1.dtypes=='object']:
  data1[i]=label.fit_transform(data[i])
data1.tail(7)

     Age  Sex  ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
911   59    1              0  ...      1.0         1             1
912   57    0              0  ...      0.2         1             1
913   45    1              3  ...      1.2         1             1
914   68    1              0  ...      3.4         1             1
915   57    1              0  ...      1.2         1             1
916   57    0              1  ...      0.0         1             1
917   38    1              2  ...      0.0         2             0

[7 rows x 12 columns]

In [7]:
X,Y=data1.iloc[:,:-1].values,data1.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [9]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,train_size=0.80,random_state=45)

In [15]:
sc_model = SymbolicClassifier( population_size=2000, generations=20, stopping_criteria=0.01, p_crossover=0.84, p_subtree_mutation=0.14,max_samples=0.9, verbose=1,parsimony_coefficient=0.01, random_state=0,const_range=(-1,1), tournament_size=20)
sc_model.fit(x_train,y_train)

   0    25.74          8.56504        3         0.506053         0.761313     50.37s
   1     4.84          2.26123        5         0.491427         0.525888     39.03s
   2     3.74          2.19785       11         0.453447         0.545005     35.81s
   3     4.48          1.59942        9         0.399438         0.477329     34.91s
   4     5.68          1.48556       11         0.388783         0.332362     32.71s
   5     6.83           1.3983       11         0.375007         0.455227     31.09s
   6     7.95          1.37346       11         0.372115         0.481019     30.37s
   7     8.76          1.45961       11         0.365097         0.543616     27.62s
   8     9.35          1.49992       17         0.356916         0.593116     25.75s
   9     9.86          1.47757       19         0.360242         0.454103     24.05s
  10    10.16           1.4072       19         0.361236         0.493371     21.64s
  11    10.01           1.3245       19         0.360215          0.50248     19.28s
  12     9.99          1.29185       19         0.360203         0.502585     16.70s
  13    10.13          1.38999       19         0.356944         0.531656     14.33s
  14    10.39           1.2795       19         0.354874         0.550112     12.05s
  15    10.31          1.40644       19         0.351841         0.577163      9.76s
  16    10.35          1.34924       19         0.353516         0.562226      7.12s
  17    10.23          1.44821       19         0.349152         0.601151      4.83s
  18    10.39          1.36633       21         0.355243         0.683995      2.39s
  19    10.63          1.26045       19         0.354994         0.549042      0.00s

SymbolicClassifier(const_range=(-1, 1), max_samples=0.9, p_crossover=0.84,
                   p_subtree_mutation=0.14, parsimony_coefficient=0.01,
                   population_size=2000, random_state=0, stopping_criteria=0.01,
                   verbose=1)

In [17]:
sc_model.score(x_train,y_train)

0.8487738419618529

In [16]:
sc_model.score(x_test,y_test)

0.8478260869565217